@use "../../common/variables";

.features {
	text-align: center;

	&__intro {
		color: variables.$secondary-text;
	}

	&__title {
		display: block;
		color: variables.$main-dark;
	}

	&__text-box {
		background-color: rgba(variables.$accent, 12%);
		&:nth-of-type(even) {
			background-color: rgba(variables.$accent, 20%);
		}
	}

	&__figure &__text-box {
		background-color: variables.$accent;
		color: variables.$main-light;
	}

	&__figure &__item-description {
		color: inherit;
	}

	&__item-description {
		color: variables.$secondary-text;
	}

	&__list--sub &__text-box:nth-of-type(even) {
		background-color: #fff;
	}
}
