@use "../../common/variables";

.features {
	text-align: center;
	counter-set: feature;

	&__intro {
		color: variables.$secondary-text;
	}

	&__title {
		display: block;
		color: variables.$main-dark;
		max-width: 700px;
		margin: 0 auto 30px;
	}

	&__list,
	&__panorama,
	&__figure {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		list-style: none;
		padding: 0;
		margin: 0;
	}

	&__list--sub,
	&__panorama,
	&__figure {
		grid-column: 1 / -1;
	}

	/*
	&__figure {
		grid-template-columns: 1fr 2fr;
		&--reverse {
			grid-template-columns: 2fr 1fr;
		}
	}*/

	&__figure {
		--bg-opacity: 100%;
		--color-text: 100%;
	}

	&__figure--reverse &__picture {
		order: -1;
	}

	&__picture {
		grid-column-end: span 2;
	}

	&__item:nth-child(odd) {
		--bg-opacity: 12%;
	}

	&__item:nth-child(4n) {
		--bg-opacity: 20%;
	}
}
