@use "../../common/variables";

.features {
	counter-set: feature;

	&__title {
		max-width: 700px;
		margin: 0 auto 30px;
	}

	&__list,
	&__panorama,
	&__figure {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
    // grid-template-columns: repeat(3, 400px);
		list-style: none;
		padding: 0;
		margin: 0;
    grid-column: 1 / -1;
	}


/* 	&__figure {
		grid-template-columns: 1fr 2fr;
		&--reverse {
			grid-template-columns: 2fr 1fr;
		}
	}
 */
	&__figure--reverse &__picture {
		order: -1;
	}

	&__picture {
		grid-column-end: span 2;
    object-fit: cover;
	}
}
