-
	const NAVIGATION = {
		'Главная': 'index.html',
		'О Седоне': 'about.html',
		'Гостиницы': 'catalog.html',
	}


header.header
	-
		const isMainPage = currentPage === 'index.html'
		const LOGO_SOURCE = "img/sedona.svg"

	a(href=isMainPage ? undefined : "index.html")._logo
		img(src=LOGO_SOURCE, alt="Герб Седоны", width=139, height=70)

	nav._nav
		ul._nav-list
			each link, text in NAVIGATION
				li
					a.link.legend._link(href=currentPage === link ? undefined : link)=text

	menu._menu
		li
			a.link._action(href="search.html")
				svg(width=20, height=20, fill="currentColor" aria-labelledby="search-title" role="img")
					title#search-title Поиск
					use(href="img/interface.svg#search")
		li
			button.favorite.link._action(type="button" aria-label="Избранное" aria-description="12 элементов сохранено" data-choose=12)
				svg(width=20, height=20, fill="currentColor" aria-hidden="true")
					use(href="img/interface.svg#heart")
		li._cta
			button.button.-secondary(type="button" onclick="window['search-hotels'].showModal()") Хочу сюда!




