form.subscription(class=isMainPage ? 'subscription--background' : '', method="POST", action="https://echo.htmlacademy.ru/")
	h2._title Подпишитесь на рассылку
	p._lead Только полезная информация и никакого спама, честное бойскаутское!
	input#email(type="email", name="email", placeholder="Ваш e-mail", required)
	button._submit Подписаться
