@use "../common/variables";

.filters {
	background: {
		color: variables.$accent;
		image: url(../img/filter-bg.jpg);
		size: cover;
		repeat: no-repeat;
	}
	color: variables.$main-light;

	padding: 35px 70px 70px;
	display: grid;

	&__title {
		margin: 0 0 10px;
	}

	&__form {
		display: flex;
		flex-wrap: wrap;
		margin-top: 40px;
		gap: 71px;
	}

	&__field {
		margin: 0;
		padding: 0;
		border: none;

		&:last-of-type {
			margin-left: auto;
		}
	}

	&__legend {
		margin-bottom: 30px;
	}

	.custom-chose {
		&:not(:last-child) {
			margin-bottom: 12px;
			display: block;
		}
	}

	&__cost {
		margin: 4px 0 17px;
	}

	&__buttons {
		list-style: none;
		padding: 0;
		margin: 0;
		display: grid;
		gap: 17px;
		align-content: end;
	}

	&__submit {
		padding: 13px 5px;
	}

	&__reset {
		text-transform: none;
		background-color: transparent;
		font-weight: 400;
		padding: 4px;
	}
}
