@use "../common/variables";

.header {
	padding: 0 70px;
	display: flex;
	position: relative;
	z-index: 2;

	&__logo {
		display: block;
		margin-bottom: -26px;

		&[href] {
			&:hover,
			&:focus {
				opacity: 0.9;
			}
		}
	}

	&__nav {
		margin-bottom: -1px;

		&-list {
			display: flex;
			flex-wrap: wrap;
			list-style: none;
			height: 100%;
			padding: 0;
			margin: 0 30px;
		}

		li {
			padding: 0 17px;
		}
	}

	&__menu {
		display: flex;
		list-style: none;
		margin: 0 0 0 auto;
		padding: 0;
	}

	&__link {
		font-weight: 700;
		font-size: 20px;
		line-height: 1.3;
		text-transform: capitalize;
		border-bottom: 2px solid transparent;

		&:not([href]) {
			border-color: hsl(22, 15%, 40%);
		}
	}

	&__link,
	&__action {
		display: flex;
		text-decoration: none;
		display: flex;
		height: 100%;
		align-items: center;
		min-height: 65px;
	}

	&__action {
		background-color: transparent;
		justify-content: center;
		border: none;
		cursor: pointer;
		min-width: 42px;
		padding: 0;
	}

	&__cta {
		margin: auto 0 auto 20px;
	}
}
