@use "../common/variables";

.header {
	&__link {
		font-weight: 700;
		font-size: 20px;
		line-height: 1.3;
		text-transform: capitalize;
		color: inherit;
		text-decoration: none;
	}

	&__action {
		background-color: transparent;
		color: inherit;
		text-decoration: none;

		&-indicator {
			background-color: hsl(93, 40.8%, 51%);
			color: variables.$main-light;
			font-weight: 400;
			font-size: 10px;
			line-height: 1.3;
			text-align: center;
			letter-spacing: -0.1em;
		}
	}
}
