@use '../common/variables';

.page {
	background-color: variables.$secondary-light;
	font-family: "PT Sans", system-ui, sans-serif;

	font-size: 22px;
	font-weight: normal;
	font-style: normal;
	line-height: 1.18;

	&__body {
		max-width: 1200px;
		margin: 0 auto;
		background-color: variables.$main-light;
		color: variables.$main-dark;
	}
}
