section.cta
	h2.subheading Заинтересовались?
	p._lead Укажите предполагаемые даты поездки, и мы покажем вам лучшие предложения гостиниц в Седоне
	button(type="button").button.-secondary Поиск гостиницы в Седоне
