section.intro
	h1.visually-hidden Добро пожаловать в прекрасную Седону!
	img(src="https://placeholder.pics/svg/458x352/83B3D3/FFFFFF/Because%20the%20Grand%20Canyon%20sucks!", alt="«Потому что Гранд Каньон отстой!»", width=458, height=352)._image
